/*fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
        url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;
    --basic-light: #888888;
    --basic-text: #333333;
    --basic-arrow: #CACACA;
    --basic-input: #F2F2F2;
    --basic-blue-active: #669EC0;
    --hover-blue-pressing: #5496BD;
    --basic-brown-active: #604E43;
    --hover-brown-pressing: #503E33;

    --special-check: #6A6A6A;
    --special-slider: #ABABAB;
    --special-restangle: #A9A9A9;
    --special-pale: #EEEEEE;
    --special-reting: #666666;
    --special-cal: #EBEBEB;

    --logo-dark: #231F20;
    --logo-light: #BDBBBC;

    --footer-opacity: rgba(255, 255, 255, 0.9);
    --result-solid: #E5E5E5;
}

/*Global*/

body {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-text);
    text-transform: uppercase;
    background-color: var(--basic-light);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

body.page-body {
    min-height: 508px;
    background-image: /*url("../img/background/shape.svg"),*/
    url("../img/background/background-photo-index.jpg");
    background-color: var(--basic-light);
    background-position: top center;
    background-repeat: no-repeat;

}

body.second-page-body {
    background-image: url("../img/background/background-photo-catalog.jpg");
    background-color: var(--basic-light);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*Скрытие*/

.visually-hidden {
    visibility: hidden;
}

/*Grid*/

.page {
    height: 100%;
}

/* Main navigation */

.main-navigation {
    display: grid;
    background-color: transparent;
    color: var(--basic-black);
    font-weight: bold;
    line-height: 26px;
}

.main-header-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-right: 10px;/*не пойму откуда эти 10 пикселей взялись*/
}

/*Container главное содержимое*/

.container {
    width: 1200px;
    padding: 0 110px; /*центрируем контейнер отступами*/
    margin: 0 auto;
}

/*Logo*/

.main-header-logo {
    order: 1;
    justify-self: center;
}

.site-navigation {
    list-style: none;
    background-color: var(--basic-white);
    margin: 0;
    padding: 0;
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.site-navigation-link-hotel:hover {/*наведение*/
    color: var(--basic-blue);
}

.site-navigation-link:active { /*активный*/
    color: var(--basic-brown);
}

.site-navigation-link-hotel:not([href]) { /*гля, работает)*/
    color: var(--basic-brown);
}

/*Slogan*/

.slogan {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: bold;
}

.slogan-causes {
    background-color: var(--basic-white);
    text-align: center;
    line-height: 26px;
}
/*Causes*/

.causes-list,
.causes-item-list,
.causes-columns3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.causes-item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--basic-white);
    margin: 0;
    padding: 0;
}

.causes-item-item {
    text-align: center;
}

.causes-item-item p {
    width: 291px;
    margin-bottom: 82px;
    margin-left: 70px;/*тут наверное для каждого точечно нужно будет задавать*/
}

.causes-item-item h4 {
    margin-top: 160px;/*сверху присобачить картинки*/
    margin-left: 30px;/*на глаз))*/
}

.causes-subtitle-w {
    color: var(--basic-white);
}

h4 {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
}

.causes-columns1 {
    display: flex;
    min-height: 256px;
    width: 400px;
    flex-direction: column;
    align-items: center;
}
.causes-columns1::after {
    content: '';
    position: absolute;
    background-image: url("../img/images/image-1.jpg");
    background-repeat: no-repeat;
    background-color: var(--basic-white);
    width: 800px;
    height: 256px;
    left: 510px; /*на глаз*/
}
.causes-columns1 h4 {
    text-align: center;
    width: 125px;
    margin-top: 47px;
}
.causes-columns1 p {
    text-align: center;
    width: 300px;
    margin-top: 23px;
}

.causes-column-bridg::before {
    content: '';
    background-image: url("../img/images/image-2.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 256px;
}
.causes-column-bridg {
    display: grid;
    min-height: 256px;
    width: 400px;
    grid-template-columns: 2fr 1fr;
}

.causes-item.causes-columns2 {
    width: 400px;
}

.causes-item.causes-columns2 h4 {
    text-align: center;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 126px;
}

.causes-item.causes-columns2 p {
    text-align: center;
    width: 301px;
    margin-top: 23px;
    margin-left: 50px;
}
.causes-item.causes-columns2 span {
    margin-left: 175px;
}

.causes-columns3 {
    background-color: var(--special-pale);
}

.causes-columns1,
.causes-columns2 {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    height: 256px;
}

.causes-item-list2 {
}

.causes-columns3 .causes-item {
    text-align: center;
}

.causes-columns3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 256px;
}
.causes-columns3 .causes-item h4 {
    margin-top: 47px;
    margin-left: 140px;
    width: 119px;
}

.causes-columns3 .causes-item p {
    width: 258px;
    margin-left: 70px;
    margin-top: 24px;
}

/*.causes-item-item:first-child {
    background-image: url(../img/icons/icon-1.svg);
    background-repeat: no-repeat;
}

.causes-item-item:nth-child(2) {
    /*background-image: url(../img/icons/icon-3.svg);
    background-repeat: no-repeat;
}

.causes-item-item:last-child {
    /*background-image: url(../img/icons/icon-2.svg);
    background-repeat: no-repeat;*/
}

.search-head {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

/*Search*/

.search-head-info {
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.search-button,
.find-button {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

.search-item input {
    background-color: var(--basic-input);
    border: none;
    font: inherit;
    text-transform: uppercase;
}

.search-item label,
.search-item input {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.search-item:hover input {
    background-color: var(--special-cal);
}

.search-item:active input {
    background-color: var(--basic-white);
}

.search-button {
    background-color: var(--basic-brown);
}
.search-button:hover { /*наведение*/
    background-color: var(--basic-brown-active);
}
.search-button:focus {
    background-color: var(--hover-brown-pressing);
}

.search-search-form {
    background-color: var(--basic-white);
}

.find-button {
    background-color: var(--basic-blue);
}

.find-button:hover { /*наведение*/
    background-color: var(--basic-blue-active);
}

.find-button:active { /*нажатие*/
    background-color: var(--hover-blue-pressing);
}

/*Footer*/
/* Contacts */

.main-footer {
    background-color: var(--basic-white);
    opacity: 0.9;
    line-height: 26px;
    max-width: 1200px;
    margin-left: 0;
    padding: 0;
    justify-self: center;
}

.main-footer .container {
    margin-right: 110px;/*господи какой бред*/
    margin-left: -110px;/*ну не центрируется оно я хз*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts p {
    margin-left: 153px;
    width: 251px;
}

.footer-phone {
    margin-left: -42px;
}

.footer-social {
    text-align: center;
    width: 150px;
    justify-self: center;
}

.footer-copyright {
    width: 220px;
    justify-self: end;
    margin: 0;
}

.footer-contacts,
.footer-copyright p,
.footer-phone,
.footer-contacts p {
    color: var(--basic-black);
}

.footer-phone,
.footer-contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-button {
    fill: var(--logo-dark);
    margin-left: 8px;
}

.footer-button:hover path {
    fill: var(--basic-blue);
}

.footer-button:focus path {
    fill: var(--basic-brown-active);
}

.footer-social {
    /*text-align: center;*/
}

/* Social button */

.social-button {
    background-color: var(--basic-blue);
}

.social-button:hover { /*наведение*/
    background-color: var(--basic-blue-active);
}
.social-button:focus { /*нажатие*/
    background-color: var(--hover-blue-pressing);
}
.social-button:active svg { /*прозрачность*/
    opacity: 0.3;
}

/*Catalog*/

fieldset {
    border: none;
}
.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.filters,
.filter-option label,
.price legend,
label {
    color: var(--basic-white);
    /*background-color: var(--basic-white);*/
}

.filter-subtitle,
.price legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-subtitle-list li,
.found-list li {
    list-style-type: none;
    font-weight: inherit;
}

.filter-subtitle-list:disabled {
    color: var(--special-check);
}

/*Ползунок*/

.price {
    display: grid;
}

.btn,
.price input {
    text-transform: uppercase;
    color: var(--basic-white);
    border-color: var(--basic-white);
}

.btn {
    background: transparent;
    width: 137px;
}

.btn:focus { /*нажатие*/
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/*Результаты*/

.result-list {
    font-size: 12px;
    line-height: 18px;
    display: grid;
    grid-template-columns: 190px 121px 89px 81px 109px 50%;
    margin: 0;
    padding: 0;
}

.result-container {
    min-height: 86px;
}
.result-container,
.found {
    background-color: var(--basic-white);
}

.result-item-title {
    padding-left: 73px;
}

.result-item {
    padding-left: 46px;
}

.result-item-list2 {
    padding-left: 32px;
}

.result-item-list3 {
    padding-left: 33px;
}

.result-item-title,
.found-item-house {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.result-item-list1 {
    color: var(--basic-blue);
    padding-left: 40px;
}

.result-item-list2,
.result-item-list3 {
    color: var(--basic-black);
    opacity: 0.3;
}

.result-item-list3:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.result-item-list3:active {
    color: var(--basic-black);
}

.result-list li {
    list-style-type: none;
}

/*Гостинницы*/

.found {
}

.found-item {
    border-bottom: 1px solid var(--result-solid);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 4fr;
}

.found-item-image {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    outline: 2px solid rgba(255, 0, 0);
}
.found-item-house {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    outline: 2px solid rgba(255, 0, 0);
}
.found-item-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    outline: 2px solid rgba(255, 0, 0);
}
.found-item-price {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    outline: 2px solid rgba(255, 0, 0);
}
.details {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    outline: 2px solid rgba(255, 0, 0);
}
.reserve {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    outline: 2px solid rgba(255, 0, 0);
}
.found-item-rating {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    outline: 2px solid rgba(255, 0, 0);
    text-align: right;
}

.found-item-house:hover {
    color: var(--basic-blue);
}
.found-item-house:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/*Кнопки гостинниц*/

.details, .reserve {
    color: var(--basic-white);
    font-weight: bold;
}

.details {
    background-color: var(--basic-blue);
}

.details:hover {
    background-color: var(--basic-blue-active);
}

.details:active {
    background-color: var(--hover-blue-pressing);
}

.reserve {
    background-color: var(--basic-brown);
}

.reserve:hover {
    background-color: var(--basic-brown-active);
}

.reserve:active {
    background-color: var(--hover-brown-pressing);
}

/*Рейтинг*/

.found-item-rating {
    background-color: var(--basic-input);
    color: var(--special-reting);
}