/*fonts*/

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
        url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;
    --basic-text: #333333;
    --basic-arrow: #CACACA;
    --basic-input: #F2F2F2;
    --basic-blue-active: #669EC0;
    --hover-blue-pressing: #5496BD;
    --basic-brown-active: #604E43;
    --hover-brown-pressing: #503E33;

    --special-check: #6A6A6A;
    --special-slider: #ABABAB;
    --special-restangle: #A9A9A9;
    --special-pale: #EEEEEE;
    --special-reting: #666666;
    --special-cal: #EBEBEB;

    --logo-dark: #231F20;
    --logo-light: #BDBBBC;

    --footer-opacity: rgba(255, 255, 255, 0.9);
    --result-solid: #E5E5E5;
}

/*Global*/

.site-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--basic-white);
    box-shadow: 0px 0px 15px 0 rgba(0, 1, 1, 0.2);
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-text);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*Скрытие*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    /*у Вадима Макеева в шорте так было, но после маргина три точки стояло)). еще что-то нужно там?*/
}

/*Grid*/

.page {
    height: 100%;
}

/* Main navigation */

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    min-height: 56px;
    line-height: 26px;
    font-weight: bold;
    background-color: transparent;
    color: var(--basic-black);
}

/*Container главное содержимое*/

.container {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

/*Logo*/

.main-header-logo {
    min-height: 509px;
    background-image: url("../img/background/shape.svg"),
    url("../img/background/background-photo-index.jpg");
    background-repeat: no-repeat;
    background-position:0px 453px, 0 0;/*на 1 пиксель маска сьехавшая в макете*/
    text-align: center;
}

.main-header-logo img {
    margin-top: 76px;
}

.main-header-logo-catalog {
    min-height: 217px;
    background-image: url("../img/background/background-photo-catalog.jpg");
    background-repeat: no-repeat;
}

.site-navigation {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    min-height: inherit;
    line-height: 26px;
    list-style: none;
    background-color: var(--basic-white);
    align-items: center;
}
.main-navigation .logo {
    position: absolute;
    left: calc(50% - 138px/2);
    /* или лучше transform: translateX(-50%) ? */
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation-link{
    width: 300px;
}

.site-navigation-link.left {
    text-align: left;
}

.site-navigation-link.right {
    text-align: right;
}

.site-navigation-link:first-child a {
    margin-left: 72px;
}
.site-navigation-link:nth-child(2) a {
    padding-left: 15px;
}

.site-navigation-link:nth-child(3) a {
    padding-right: 15px;
}

.site-navigation-link:last-child a {
    margin-right: 72px;
}

.site-navigation-link a:hover,
.site-navigation-link a:focus {
    color: var(--basic-blue);
}

.site-navigation-link a:active {
    color: var(--basic-brown);
}

.site-navigation-link a:not([href]) { /*гля, работает)*/
    color: var(--basic-brown);
}

/*Slogan*/


.main-content {/*надо тут оно вообще?*/
min-height: 1314px;
}

.main-content.slogan-causes {
    line-height: 26px;
    min-height: 216px;
}

.slogan-causes p:first-child {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: bold;
    width: 470px;
    line-height: 26px;
    text-align: center;
    margin-left: 365px;
    padding-top: 42px;
}

/*Causes*/

.slogan-causes p:last-child {
    line-height: 26px;
    text-align: center;
    padding-bottom: 51px;
}

.causes-list/*наверное лишний класс, он больше не используется*/,
.causes-item-list,
.causes-columns-third {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Жилье еда сувениры*/

.causes-item-list {
    display: flex;
}

.causes-item-list li {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--basic-white);
    width: 400px;
    min-height: 330px;
    text-align: center;
}

.home::before {
    content: '';
    position: absolute;
    background-image: url("../img/icons/icon-1.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    margin-top: 60px;
    margin-left: 162px;
}

.home p {
    width: 254px;
    margin-left: 73px;
    margin-bottom: 82px;
}

.food::before {
    content: '';
    position: absolute;
    background-image: url("../img/icons/icon-3.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 70px;
    margin-top: 61px;
    margin-left: 162px;
}

.food p {
    width: 297px;
    margin-left: 51px;
    margin-bottom: 82px;
}

.souvenirs::before {
    content: '';
    position: absolute;
    background-image: url("../img/icons/icon-2.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 77px;
    margin-top: 55px;
    margin-left: 168px;
}

.souvenirs p {
    width: 269px;
    margin-right: auto;
    margin-left: auto;
}

.causes-subtitle-white {
    color: var(--basic-white);
}

h4 {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    margin-top: 160px;
    margin-bottom: 11px;
}

/* №1 */

.causes-first {
    display: grid;
    min-height: 256px;
    min-width: 400px;
    grid-template-columns: 1fr 2fr;
}

.causes-first::after {
    content: '';
    background-image: url("../img/images/image-1.jpg");
    background-repeat: no-repeat;
    background-color: var(--basic-white);
    width: 800px;
    height: 256px;
}
.causes-columns-first h4 {
    text-align: center;
    width: 125px;
    margin-bottom: 25px;
    margin-top: 47px;
    margin-left: 139px;
}
.causes-columns-first p {
    text-align: center;
    width: 300px;
    margin-top: 23px;
    margin-left: 52px;
}

.causes-columns-first span {
    margin-left: 175px;
}

/* №2 */

.causes-column-bridg::before {
    content: '';
    background-image: url("../img/images/image-2.jpg");
    background-repeat: no-repeat;
    background-color: var(--basic-white);
    width: 800px;
    height: 256px;
}
.causes-column-bridg {
    display: grid;
    min-height: 256px;
    width: 400px;
    grid-template-columns: 2fr 1fr;
}

.causes-item.causes-columns-second {
    width: 400px;
}

.causes-item.causes-columns-second h4 {
    text-align: center;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 126px;
}

.causes-item.causes-columns-second p {
    text-align: center;
    width: 301px;
    margin-top: 23px;
    margin-left: 50px;
}
.causes-item.causes-columns-second span {
    margin-left: 175px;
}

/* №3 */

.causes-columns-third {
    background-color: var(--special-pale);
}

.causes-columns-first,
.causes-columns-second {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    height: 256px;
}

.causes-columns-third .causes-item {
    text-align: center;
    width: 400px;
}

.causes-columns-third {
    display: flex;
    min-height: 256px;
}
.causes-columns-third .causes-item h4 {
    margin-top: 47px;
    margin-left: 140px;
    width: 119px;
}

.causes-columns-third .causes-item p {
    width: 258px;
    margin-left: 70px;
    margin-top: 24px;
}

/*Search*/

.search-head {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.search-head-info {
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.search-button,
.find-button {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

.search-item input {
    background-color: var(--basic-input);
    border: none;
    font: inherit;
    text-transform: uppercase;
}

.search-item label,
.search-item input {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.search-item:hover input {
    background-color: var(--special-cal);
}

.search-item:active input {
    background-color: var(--basic-white);
}

.search-button {
    background-color: var(--basic-brown);
}
.search-button:hover {
    background-color: var(--basic-brown-active);
}
.search-button:focus {
    background-color: var(--hover-brown-pressing);
}

.search-search-form {
    background-color: var(--basic-white);
}

.find-button {
    background-color: var(--basic-blue);
}

.find-button:hover {
    background-color: var(--basic-blue-active);
}

.find-button:active {
    background-color: var(--hover-blue-pressing);
}

/*Footer*/
/* Contacts */

.container.main-footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 26px;
    max-width: 1200px;
}
.main-footer.index{
    position: relative;
    z-index: 100;
    background-color: var(--footer-opacity);
    margin-top: -120px;
}

.main-footer .footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    width: 400px;
}

.footer-contacts {/*криво, доделать*/
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 120px;
    text-align: center;
    justify-content: center;
}

.footer-contacts p:first-child {
}

.footer-phone {
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.footer-social .social-button {
    display: flex;
    flex-wrap: wrap;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    margin-left: 3px;
}

.footer-copyright {
    display: flex;
    width: 400px;
    text-align: right;
    align-items: center;
    justify-content: center;/*нет не центр, доделать*/
}

.footer-button.copyright {
    margin-left: 8px;
    margin-top: 6px;/*на глаз*/
}

.footer-contacts,
.footer-copyright p,
.footer-phone,
.footer-contacts p {
    color: var(--basic-black);
}

.footer-phone,
.footer-contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

/*Копирайт*/

.footer-button {
    fill: var(--logo-dark);
    margin-left: 8px;
}

.footer-button:hover path {
    fill: var(--basic-blue);
}

.footer-button:focus path {
    fill: var(--basic-brown-active);
}

/* Social button color*/

.social-button {
    background-color: var(--basic-blue);
}

.social-button:hover { /*наведение*/
    background-color: var(--basic-blue-active);
}
.social-button:focus { /*нажатие*/
    background-color: var(--hover-blue-pressing);
}
.social-button:active svg { /*прозрачность*/
    opacity: 0.3;
}

/*Catalog*/

fieldset {
    border: none;
}
.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.filters,
.filter-option label,
.price legend,
label {
    color: var(--basic-white);
}

.filter-subtitle,
.price legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-subtitle-list li,
.found-list li {
    list-style-type: none;
    font-weight: inherit;
}

.filter-subtitle-list:disabled {
    color: var(--special-check);
}

/*Ползунок*/

.price {
    display: grid;
}

.btn,
.price input {
    text-transform: uppercase;
    color: var(--basic-white);
    border-color: var(--basic-white);
}

.btn {
    background: transparent;
    width: 137px;
}

.btn:focus { /*нажатие*/
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/*Результаты*/

.result-list {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    min-height: 86px;
    border-bottom: 1px solid var(--result-solid);
    display: grid;
    grid-template-columns: 190px 121px 89px 81px 109px 50%;
    align-items: center;
}

.result-container,
.found {
    background-color: var(--basic-white);
}

.result-item-title {
    padding-left: 73px;
}

.result-item {
    padding-left: 46px;
}

.result-item-list-type {
    padding-left: 32px;
}

.result-item-list-rating {
    padding-left: 33px;
}

.result-item-title,
.found-item-house {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.result-item-list-price {
    color: var(--basic-blue);
    padding-left: 40px;
}

.result-item-list-type,
.result-item-list-rating {
    color: var(--basic-black);
    opacity: 0.3;
}

.result-item-list-rating:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.result-item-list-rating:active {
    color: var(--basic-black);
}

.result-list li {
    list-style-type: none;
}

/*Гостинницы*/

.found-list {
    margin: 0;
    padding: 0;
}
.found-list .found-item {
    display: flex;
    min-height: 150px;
    border-bottom: 1px solid var(--result-solid);
}

.found-item-image {
    width: 135px;
    height: 90px;
    margin-top: 30px;
    margin-right: 29px;
    margin-left: 73px;
}

.found-item .found-main {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.found-main p {
    display: flex;
    margin-top: 7px;
    width: 179px;/*чуть глаза не лопнули высматривать пиксели*/
}
.found-main .found-item-price {
    margin-left: auto;
}

.choice {
    display: flex;
    min-height: 27px;
}

.choice .details {
    display: flex;
    width: 110px;
    justify-content: center;
    align-items: center;
}

.choice .reserve {
    display: flex;
    width: 142px;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

/*Звезды*/

.hotel-rating .hotel-stars {
    display: flex;
    flex-direction: row-reverse;
    width: 110px;
    margin-top: 29px;
    margin-bottom: 47px;
}

.hotel-stars img {
    margin-right: 6px;
}

.hotel-stars img:first-child {
    margin-right: 0;
}

/*Кнопки гостинниц*/

.found-item-house:hover {
    color: var(--basic-blue);
}

.found-item-house:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.details, .reserve {
    color: var(--basic-white);
    font-weight: bold;
}

.details {
    background-color: var(--basic-blue);
}

.details:hover {
    background-color: var(--basic-blue-active);
}

.details:active {
    background-color: var(--hover-blue-pressing);
}

.reserve {
    background-color: var(--basic-brown);
}

.reserve:hover {
    background-color: var(--basic-brown-active);
}

.reserve:active {
    background-color: var(--hover-brown-pressing);
}

/*Рейтинг*/

.found-item .hotel-rating {
    width: 110px;
    margin-right: 73px;
    margin-left: auto;
}

.hotel-rating .found-item-rating {
    background-color: var(--basic-input);
    color: var(--special-reting);
    display: flex;
    width: 110px;
    height: 27px;
    justify-content: center;
    align-items: center;
}